alias ri="rm -i"
alias rr="rm -ir"

alias mv="mv -i"

alias imgcat='/afs/cern.ch/user/a/apmorris/.iterm2/imgcat'
alias it2dl='/afs/cern.ch/user/a/apmorris/.iterm2/it2dl'

alias l.='ls -ltrdph .*'
alias ll='ls -ltrph'
alias la='ls -ltraph'
alias mc='. /usr/libexec/mc/mc-wrapper.sh'
alias vi='vim'

